#body_login{
    background: transparent url("../img/background_login.png") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

 }

 #body_vendedores {
    background: transparent url("../img/background_vendedores.png") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

 }
/* PERFIL DE VENDEDORES*/
 .src-image {
  display: none;
}

#imagen_transparente{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='ruta/fondo.png', sizingMethod='scale');

}

.card {
  overflow: hidden;
  position: relative;
  /*border: 1px solid #CCC;*/

  text-align: center;
  padding: 0;
/*  background-color: #284c79;
  color: rgb(136, 172, 217);*/
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
/*  width: 100%;
  height: 70px;*/
/*  border-bottom: 1px #FFF solid;*/
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  /*-moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);*/
}

.content{
	padding-top: 10px;
	padding-bottom: 5px;

}
.content input{
	margin: 4px 7px 4px 7px;
	width: 100%;
	height: 35px;
	border: 0px;

}
#login{
	text-align: center;
	font-size: 16px;
	padding-top: 30px
}
#login select{
	width: 50%;
		height: 40px;
	margin-bottom: 10px;
	padding-left: 20px;
	border: none; 
}
#login input{
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 20px;
	border: none; 
}

#login1{
	text-align: center;
	font-size: 16px;
	padding-top: 30px
}

#login1 #input_clave{
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 20px;
	border: none; 
}

#login1 #checkbox{
	text-align: left;
	padding-left: 290px;
	border: none; 
	letter-spacing: 2px
}


#button_aceppt{
	width: 50%;
	height: 35px;
	font-family: BebasNeueBold;
	font-size: 17px;
	color: white;
	text-align: right;
	vertical-align: middle;
	background-color: #D82C33;
	padding-right: 40px;	
	border: none;
	padding-top: 4px;
	letter-spacing: 2px;
}


/* PERFIL DE VENDEDORES*/

.container{
	font-family: BebasNeueBold;
	font-size: 16px;


}

#button_save{
	width: 100%;
	margin-left: 5px;
	padding-right: 20px;
	font-family: BebasNeueBold;
	font-size: 17px;
	color: white;
	text-align: right;
	background-color: #D82C33;
	border: none;
	padding-top: 4px;
	letter-spacing: 2px

}

#tittle1{
	text-align: center;
	vertical-align: middle;
	padding-top: 100px;
}
#text1{
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 38px;
	letter-spacing: 2px
}


h1 {
	font-family: EuroStyle;
	font-size:38px;
	letter-spacing: -1px;

}
h2{
	font-family: EuroStyleBold;
	font-size:38px;
	letter-spacing: -1px;
}